body{
  font-size:13.7pt;
}
section#tdm {
  border: 1px solid #999999;
  border-radius: 1em;
  padding: 1.5em;
  margin: 1em 0 0em 4em;
  display: inline-block;
  font-size: 0.82em;
  min-width: 200px;
}
section#tdm a {
  display:block;
}
div.file {
  font-weight:bold;font-size:1.0em;
  margin-bottom: 1em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em;
  margin-top: 3em;
}
div.file span.name {
  margin-right:3em;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: bold;
}
div.file span.path {
  font-size: 9.1pt;
}

div.method {
  margin-top: 2em;
}
div.method div.method-name {
  font-family: Monospace;
  background-color: rgb(2, 91, 94);
  color: white;
  padding: 2px 0.5em;
}
div.method div.method-description {
  font-style:italic;
  margin-left: 2em;
}
div.method div.method-usage {
}
div.method div.method-usage span.usage {
  display: inline-block;
  font-size: 0.8em;
  font-family: Monospace;
  color: white;
  background-color: black;
  padding: 4px 1em;
}
div.method div.method-provided,
div.method div.method-returned,
div.method div.method-usage
{
  margin-left:3em;
  clear:both;
}
div.method div.method-provided:before,
div.method div.method-returned:before,
div.method div.method-usage:before
{
  font-style:italic;
  font-size:0.9em;
  color:#333333;
  margin-left: -1em;
}
div.method div.method-provided:before {
  content: 'provided';
}
div.method div.method-returned:before {
  content: 'returned';
}
div.method div.method-usage:before {
  content: 'usage';
  display: block;
}

div.method div.param {
  display: grid;
  grid-template-columns: 180px 120px auto;
}

div.method div.param span.param-name {
  color: #333399;
  grid-column-start:1;
  /* display:inline-block;
  width: 200px;
  float: left; */
}
div.method div.param span.param-type {
  font-family: Courier;
  font-size: 0.77em;
  margin-right: 1em;
  /* margin-left: 200px; */
  grid-column-start: 2;
}
div.method div.param span.param-type:before {
  content:'{';
}
div.method div.param span.param-type:after {
  content:'}';
}
div.method div.param span.param-description {
  grid-column-start:3;
}

code {
  background-color:#DFDFDF;
  border-radius:2px;
  padding:0 4px;
}
