
.small {
  font-size: 0.75em;
}
.bold {font-weight:bold;}
.italic{font-style:italic;}

.fleft {float:left;}
.fright {float:right;}
.left {text-align:left;}
.right {text-align:right;}
.center{text-align:center!important;}

.block {display:block;}
.inline {display:inline-block;}
.inline90 {
  display:inline-block;
  width:90;
}

.warning{color:red;}

.cadre{border:1px solid;padding:0.1em 0.5em;}

label {
  color:#999999;
  font-size:0.88em;
  font-style:italic;
}

span.horloge, input.horloge {
  font-family: Courier !important;
  background-color: black;
  color: white;
  padding: 0.2em 0.5em;
  display: inline-block;
  text-align: center;
}
input.horloge, input.temps-secondes {
  text-align:center;
}
input.temps-secondes {
  width: 100px;
}
input.horloge.small, input.temps-secondes.small {
  width:100px !important;
  font-size:12.5pt;
}

/* Pour les boutons de classe `BtnPlay` */
button.btnplay {
  unset:all;
  border:0;
  background:transparent;
}
button.btnplay.right {
  margin-left:0.1em;
}
button.btnplay.left {
  margin-right:0.1em;
}
button.btnplay:focus {
  outline:none;
}
button.btnplay,
button.btnplay img
{
  vertical-align:middle;
}

/*  Les boutons « toggle next » qui permettent d'ouvrir/fermer le noeud
    qui les suit
*/
button.toggle-next {
  all:unset;
  float:left;
}

/* SELECT */

/* Un séparateur. Ne contient rien, mais mieux que rien */
select option.separator {
  width:100%;
  height:2px;
  /* background-color:red; ne fonctionne pas */
  /* border:1px solid green; ne fonctionne pas */
  margin-top:0.4em;
  margin-bottom:0.4em;
}

div.libval > *:nth-child(1),
div.libval > span:nth-child(2)
{
  display:inline-block;
  vertical-align:top;
  /* border:1px dashed green; */
}

/* La largeur est divisée en 10 sections de 10% */
div.libval.w10-90 > *:nth-child(1) {width:8%;}
div.libval.w10-90 > span:nth-child(2) {width:88%}

div.libval.w40-60 > *:nth-child(1) {width:38%;}
div.libval.w40-60 > span:nth-child(2) {width:58%;}

div.libval.w50-50 > *:nth-child(1) {width:48%;}
div.libval.w50-50 > span:nth-child(2) {width:48%;}

div.libval.w60-40 > *:nth-child(1) {width:58%;}
div.libval.w60-40 > span:nth-child(2) {width:38%;}

div.libval.w60-20-20 > *:nth-child(1) {width:58%;}
div.libval.w60-20-20 > span:nth-child(2) {width:18%;}
div.libval.w60-20-20 > span:nth-child(3) {width:18%;}

div.libval.w10-50-20-20 > *:nth-child(1) {width:8%;}
div.libval.w10-50-20-20 > span:nth-child(2) {width:50%;}
div.libval.w10-50-20-20 > span:nth-child(3) {width:18%;}
div.libval.w10-50-20-20 > span:nth-child(4) {width:18%;}
