horloge, duree {
  display:inline-block;
  padding:0.2em 0.5em;
  text-align:center;
  font-family:Courier;
  color:white;
  background-color:#222222;
  -webkit-user-select: none;
}
horloge:hover, duree:hover {
  cursor:ew-resize;
}
horloge:not(.small), duree:not(.small) {
  width:120px;
}
horloge.small, duree.small {
  width:100px;
  font-size:0.8em;
}
horloge.modified, duree.modified{
  background-color:#770022;
}
