section#section-eventers {
  position: absolute;
  top:10%;
  left:60%;
  z-index:50;
}
section#section-eventers h3 {
  margin:0;
}
section#section-eventers .eventer,
section#section-eventers .eventer .pan-events *,
section#section-eventers .eventer fieldset *
{
  font-size:0.92em;
}
section#section-eventers .eventer {
  width:480px;
  border:4px solid grey;
  border-radius:0.5em;
  background-color:white;
  padding:0;
  height:700px;
  max-height:700px;
  min-height:700px;
}

/* La boite à outil au-dessus de tout eventer */
.eventer .toolbox {
  background-color:#DDDDDD;
  vertical-align:middle;
  text-align:right;
  padding:0.3em;
}

.eventer .pan-events {
  padding:0.2em;
  height:640px;
  overflow:auto;
}

/* Tab du filtre */
.eventer .pan-filter {
  padding:1em;
}

.eventer .pan-filter .fs-filters label {
  all:unset;
}
.eventer .pan-filter .span-cb {
  display:inline-block;
  width:128px;
  /* border:1px dashed blue; */
}
.eventer .pan-filter .span-cb label {
  all:unset;
}
