/*
  Pour les fwindows
*/

/* ---------------------------------------------------------------------
  Le format utilisé pour afficher les brins, les infos du
  film, les décors, etc., les listes en général, d'où son
  nom

  Ce type est composé d'un .header, d'un .body et d'un .footer
*/
.fwindow-listing-type {
  background-color:white;
  max-width:540px;
  min-width:540px;
  max-height:600px;
  min-height:600px;
}

.fwindow-listing-type .header {
  height: 42px;
  background-color:#516468;
  color:white;
}

.fwindow-listing-type .header h3 {
  font-weight:normal;
  font-size:14pt;
  padding:0.3em 1em;
  margin:0;
  margin-left:1em; /* pour le bouton close */
}

.fwindow-listing-type .body {
  padding:2em;
  overflow:auto;
  height:418px;
  max-height:418px;
}

.fwindow-listing-type .footer {
  position:absolute;
  background-color:#516468;
  bottom:0;
  height:50px;
  padding:4px 5%;
  width:90%;
  text-align:right;
}
.fwindow-listing-type .footer button {
  font-size:inherit;
  margin-top:4px;
}
