section#section-qrd-pp {
  height:calc(100%);
  background-color:pink;
  overflow:auto;
}

section#section-qrd-pp,
section#section-qrd-pp *
{
  font-size:9.8pt;
}
section#section-qrd-pp *:not(label, span.ref){
  color:red;
}
