/*
  Tout ce qui concerne le reader
*/
section#section-reader,
section#section-reader *
{
  z-index:40!important; /* pour passer sous les fwindows - mais normalement, le reader EST une fwindow */
}

#reader {
  display:block;
  width:inherit;
  position:relative;
  max-height: 600px;
  min-height: 600px;
  background-color:#EEEEFF;
  overflow: scroll;
  padding:0;
  z-index:40!important; /* pour passer sous les fwindows - mais normalement, le reader EST une fwindow */
}

#reader .fw-title {
  opacity:0.3;
  position:absolute;
  left:10px;
  right:10px;
  font-style:italic;
  text-align:right;
}

#reader h3 {
  margin:0.5em 0 0.3em;
}

#reader .associates {
  position:relative;
  margin-left:1em;
  margin-top:1em;
  border:1px solid #EEEEEE;
  border-radius:0.5em;
  padding:2em 1em 1em 1em;
  font-size:0.9em;
}
#reader .associates:before{
  content:'Associés';
  display:block;
  position:absolute;
  top:0;
  left:4px;
  font-style:italic;
  opacity:0.3;
  font-size:10.1pt;
  color:blue;
}

#reader > div.div-image > img {
  width:80px;
}
