div.report-contents {
  width: 800px;
  padding:2em;
  background-color:#DDDDFF;
}
div.report-contents,
div.report-contents * {
  font-size:0.85em;
  font-family:Monospace;
}

div.report-contents div.report-msg {
  margin-bottom:4px;
}
div.report-contents div.report-msg.title  {
  font-size:0.95em;
  margin-top:1em;
  font-weight:bold;
}
div.report-contents div.report-msg.normal { color: black; }
div.report-contents div.report-msg.warning{ color: orange; }
div.report-contents div.report-msg.error  { color: red; }
div.report-contents div.report-msg.notice { color: blue; }
