body, body * {
  font-family:Avenir;
}
body {
  font-size: 15.1pt;
  background-color:#BBBBBB;
  margin:0;
  padding:0;
  height:4000px; /* pour pouvoir descendre les fwindows */
}

/* On entoure jamais les boutons focussés */
button:focus {
  outline:none;
}

button.unset {
  all:unset;
}

/* Les boutons qui contiennent les boutons close */
button.btn-close {
  all:unset;
  position:absolute;
  top:7px;
  left:9px;
  border:0;
  background-color:transparent;
  background-image:url(../img/btn-window/b_close.png);
  width:16px;
  height:16px;
}
button.btn-close:hover {
  background-image:url(../img/btn-window/b_close_over.png);
}

/* --- Les boutons d'actualisation ---
  Ils utilisent l'image 'img/update-2.png'
 */
button.update {
  all:unset;
  vertical-align:baseline;
  padding:0 8px;
}
button.update img {
  width:22px;
  vertical-align:sub;
}

.no-user-selection,
button, select, option, label
{
  -webkit-user-select:none;
}

button.cancel {
  /* all:unset; */
	background-color:#EEEEEE;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	padding:0.4em 1em;
  font-size:1em;
  font-weight:normal;
	text-decoration:none;
  margin-left:0.5em;
}
button.warning {
  /* all:unset; */
	background-color:#eb3a2a;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:0.4em 1em;
  font-size:1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
button.warning.small,
button.cancel.small {
  font-size:0.85em;
}
button.main-button {
  /* -webkit-appearance: none; sinon le background ne changera pas */
  all:unset;
  /* background-color: #4CAF50; // Green */
  background-color:#008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button.main-button.small {
  font-size:16px;
  padding:6px 12px;
}

input[type="text"],
textarea
{
  font-family: Baskerville, Palatino, Georgia;
  font-size: 18.7pt;
}
input[type="text"]:focus,
textarea:focus
{
  outline:none;
}
/* --------------------------------------------------------------------- */
/* Les flying-windows */
.fwindow {
  position:absolute;
  background-color:transparent; /*  C'est le contenu qui doit colorer
                                    Si on ne met pas transparent, les coins
                                    arrondis laissent voir du fond */
  display:inline-block;
}

/* --------------------------------------------------------------------- */
/*
    Note : les largeurs (widths sont définies par UI.setUi )
 */

section#section-footer {
  position:fixed;
  height:140px; /* pour au moins montrer la boite des boutons*/
  bottom:0;
  right:0;
  left:0;
  background-color:#CDCDCD;
  padding:1em;
  z-index:0;
}
section#section-footer div#analyse-state-bar {
  position:fixed;
  bottom:0;
  height:20px;
  left:0;
  right:0;
  background-color:#DDDDDD;
  border-top:1px solid #EEEEEE;
  border-bottom:1px solid #BBBBBB
}

section#section-footer div#analyse-state-bar span#modified-indicator {
  float:left;
  font-size:28pt;
  line-height:16pt;
  color:green;
}
section#section-footer div#analyse-state-bar span#modified-indicator.on {
  color:red
}

div#analyse-state-bar label.statebar-label,
div#analyse-state-bar span.statebar-value {
  vertical-align:top;
  font-size:10.1pt;
}
div#analyse-state-bar label.statebar-label {
  margin-left:1em;
}
div#analyse-state-bar span.statebar-value {
  font-weight:bold;
}
div#analyse-state-bar span#statebar-jauger {
  position:relative;
  display:inline-block;
  vertical-align:top;
  background-color:#EEDD99;
  margin-top:2px;
  height:15px;
  width:200px;
}
div#analyse-state-bar span#statebar-jauge {
  position:absolute;
  top:0;left:0;
  display:inline-block;
  height:15px;
  width:2px;
  background-color:#22CC22;
}

/* --------------------------------------------------------------------- */


div#waiting-loop {
  position:fixed;
  top:300px;
  left:40%;
  text-align:center;
  background-color:white;
  max-width:250px;
  padding:1em;
  z-index:5000;
}
img#waiting-loop {
  width:70px;
}
span#waiting-loop-message {
  display:block;
  font-size:11.5pt;
  text-align:center;
}

/* TABLE TEMPS COURANT */

table.cont-temps-courants {

}
table.cont-temps-courants td.field-curtime-film {
  visibility:hidden;
}

/* Pour des petits boutons controller, par exemple au-dessus des events */
img.small-btn-controller {
  width:22px;
  vertical-align:middle;
}

/* TABLE D'ÉTAT D'AVANCEMENT DE L'ANALYSE */
/* ATTENTION : ne pas la confondre avec la barre d'état en bas de fenêtre */
div#div-analyse-state {
  position:fixed;
  background-color:white;
  border:2px solid teal;
  border-radius:0.5em;
  top:100px;
  left:30%;
  width:30%;
  max-height:400px;
  overflow:auto;
  padding:2em 1.2em;
  z-index:100;
}
div#div-analyse-state > div.info > label {
  display:inline-block;
  width: 300px;
  text-align:right;
  padding-right:12px;
}
div#div-analyse-state > div.info > label:after {
  content:' :';
}
div#div-analyse-state > div.info > span.value {
  font-family: monospace;
  width:200px;
}
div#div-analyse-state button.close {
  unset:all;
  position:absolute;
  top:1px;
  left:4px;
  padding:0;
  border:0;
}

/* Le clone qu'on déplace quand on bouge une horloge (comme sur un vidéo) */
div.dropped-time {
  background-color:red;
  padding:4px 2px;
  color:white;
  font-family:monospace;
}
