/*
  Styles propres à la flying-window de l'édition du script d'assemblage
*/
.fwindow .body #bse-left-column {
  float: left;
  width:55%;
}
/* La liste contenant les steps */
.fwindow .body #bse-left-column #bse-steps-list {
  width:100%;
  border:1px solid green;
  height:600px;
  overflow:auto;
}
.fwindow .body #bse-left-column #bse-steps-list > .step {
  border:1px solid #CCFFCC;
  padding:1px 4px;
}

.fwindow .body #bse-left-column #bse-steps-list > .step {
  width:365px;
}
.fwindow .body #bse-right-column #bse-steps-outlist > .step {
  border:1px solid #FFCCCC;
  width:240px;
}


.fwindow .body #bse-left-column #bse-steps-list > .step input[type="checkbox"]{
  margin-right:8px;
  font-size:12pt;
}

.fwindow .body #bse-right-column {
  width:40%;
  margin-left:60%;
  font-size:12pt;
}

.fwindow .body #bse-right-column  #bse-steps-outlist > div.step {
  padding:4px 1em;
  border:1px solid #DDDDDD;
  font-size:9pt;
  vertical-align:middle;
}
.fwindow .body #bse-right-column #bse-steps-outlist > .step input[type="checkbox"]{
  display:none;
}

.fwindow div.step img {
  float:right;
  width:14px;
}
