/* STYLE POUR LA PUBLICATION */
@media print {
  body {
    background-color:red;
  }
}

/* --------------------------------------------------------------------- */
/* === STYLES GÉNÉRAUX === */

body {
  width:14.8cm;
  margin-bottom:200px;
}
body, body * {
  font-family:Palatino;/*, Georgia, Baskerville*/
}
h1 {
  margin-top:3em; /* sauf si on passe toujours à la ligne */
  margin-bottom:1em;
}
h4 {
  margin-top:0.9em;
  margin-bottom:0.3em;
}

a, a:hover, a:link, a:visited {
  text-decoration:none;
  color:inherit;
}
a:hover{text-decoration:underline;}

/* Note : 53 caractères sur une ligne, max */
pre {
  white-space:pre;
}
pre, pre * {
  font-family:monospace;
  font-size:10.7pt;
}

.center{text-align:center;}
.bold {font-weight:bold;}

.small{font-size:0.85em;}
.tiny{font-size:0.7em;}

.explication {
  font-style:italic;
  opacity:0.89;
  margin-top:0.5em;
  margin-bottom:1em;
  text-align:justify;
}

.pad2 {
  padding-left: 2em;
}
.pad3 {
  padding-left: 3em;
}
.pad4 {
  padding-left: 4em;
}

/*
  Les liens pour voir les scènes (et autres events à ajouter ici), s'ils suivent
  un div (donc display:block) doivent se mettre à droite. Donc on les transforme
  en display:block avec alignement à droite.
 */
div + a.lkscene {
  display:block;
  text-align:right;
}

/* Styles pour les notes (indicées) */

/* L'indice dans le texte, renvoyant à la note — renvoi */
sup.note-indice {
  margin-left:3.2px;
  font-size:0.85em;
  vertical-align:24%;
}

/* DIV contenant les notes insérées dans le texte */
div.notes {
  font-size:0.9em;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  margin: 12px 1em 12px 2em;
  padding: 4px 0 4px 0.5em;
}
/* Une note dans le listing de notes */
div.notes div.note {
  margin-top: 4px;
}
/* La note, dans le div des notes */
span.note-indice {
  font-size:0.9em;
}

/* --------------------------------------------------------------------- */
/*
  Un DIV qui contient un LABEL.libelle et un SPAN.value avec
  la valeur.
*/
div.libval {
  margin-left: 0.2em;
  margin-bottom:8px;
  vertical-align:top;
}
div.libval > span {
  display:inline-block;
}
div.libval > *:nth-child(1),
div.libval > span:nth-child(2)
{
  vertical-align:top;
  display:inline-block;
  /* border:1px dashed green; */
}
div.libval.normal > label,
div.libval > span.label
{
  color:#999999;
  font-family:Arial,Helvetica;
}
div.libval.normal > label {
  width:25%;
}
div.libval.normal span.value {
  width:72%;
}

div.libval.first-small > label {width: 10%; margin-right:8px;}
div.libval.first-small > span  {width: 85%;}

/* La largeur est divisée en 10 sections de 10% */
div.libval.w10-90 > *:nth-child(1) {width:8%;}
div.libval.w10-90 > span:nth-child(2) {width:88%}

div.libval.w40-60 > *:nth-child(1) {width:38%;}
div.libval.w40-60 > span:nth-child(2) {width:58%;}

div.libval.w50-50 > *:nth-child(1) {width:48%;}
div.libval.w50-50 > span:nth-child(2) {width:48%;}

div.libval.w60-40 > *:nth-child(1) {width:58%;}
div.libval.w60-40 > span:nth-child(2) {width:38%;}

div.libval.w60-20-20 > *:nth-child(1) {width:58%;}
div.libval.w60-20-20 > span:nth-child(2) {width:18%;}
div.libval.w60-20-20 > span:nth-child(3) {width:18%;}

div.libval.w10-50-20-20 > *:nth-child(1) {width:8%;}
div.libval.w10-50-20-20 > span:nth-child(2) {width:50%;}
div.libval.w10-50-20-20 > span:nth-child(3) {width:18%;}
div.libval.w10-50-20-20 > span:nth-child(4) {width:18%;}

/*
  Un div un peu comme libval ci-dessus, mais qui convient
  pour écrire à gauche un pitch de scène par exemple et
  à droite une donnée plus courte comme sa durée.
 */
div.pitch-data {
  margin-left:1em;
}
div.pitch-data > span.left,
div.pitch-data > span.right
{
  display:inline-block;
}
div.pitch-data > span.left {
  width:60%;
  overflow:hidden;
}
div.pitch-data > span.right {
  width:30%;
}


/* --------------------------------------------------------------------- */

div.minitimeline {
  height:10px;
  background-color:white;
  border:1px solid black;
  position:relative;
}
div.minitimeline span.mtl-seg {
  position:absolute;
  height:10px;
}
div.minitimeline span.mtl-seg.mtl-scene {
  background-color:green;
}
div.minitimeline span.mtl-seg.mtl-time {
  background-color:red;
}
div.minitimeline span.mtl-seg.mtl-event {
  background-color:blue;
}

/* --------------------------------------------------------------------- */
/* ===  COUVERTURE === */

section#section-cover div#pub-title {
  font-size:2.1em;
  font-weight:bold;
  text-align:center;
}
section#section-cover div#pub-film-title {
  font-size:2.4em;
  font-weight:bold;
  text-align:center;
}

p.pagebreak {
  page-break-after:always;
}


pre.heading {
  all:unset;
  font-family:Arial,Helvetica;
  font-size:13pt;
  font-weight:bold;
}


/* --------------------------------------------------------------------- */

/* === SCÉNIER === */

section#scenier div.scene-heading {
  font-variant:small-caps;
  font-weight:bold;
  margin-top:1.3em;
  margin-bottom:0.3em;
}
:root {
  --number-width:40px;
}
section#scenier div.scene-heading span.scene-numero {
  display:inline-block;
  width:var(--number-width);
  text-align:right;
  /* background-color:#EEFFEE; Pour régler */
}
section#scenier div.scene-heading span.scene-time {
  font-weight:normal;
  font-size:0.85rem;
}
section#scenier div.scene-content {
  margin-left:var(--number-width);
}


/* --------------------------------------------------------------------- */
/* === PARADIGME DE FIELD === */

section#pfa {
  margin-left:3em;
}

/* ----------- VERSION GRAPHIQUE ------------------ */

section#pfa div#pfa-graph-container {
  position:relative;
  width:688px;
  display:grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(6, 33px);
  font-size:1em;
  border:2px solid black;
}

section#pfa div#pfa-graph-container div.pfa-part-name,
section#pfa div#pfa-graph-container div.pfa-part-name-rel
{
  text-align:center;
  border:1px solid #AAAAAA;
  padding:8px;
}
section#pfa div#pfa-graph-container div.pfa-part-name {
  grid-row:1/2;
  background-color:palegoldenrod;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container div.pfa-part-name-rel {
  grid-row:6/7;
  background-color:papayawhip;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container div.pfa-zones {
  position:relative;
  grid-column:1/5;
}
section#pfa div#pfa-graph-container div#pfa-zones-sub.pfa-zones {
  grid-row: 2/3;
  background-color:palegoldenrod;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container div#pfa-zones-main.pfa-zones {
  grid-row:3/4;
  border-bottom:2px solid;
  background-color:palegoldenrod;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container div#pfa-zones-main-rel.pfa-zones {
  grid-row:4/5;
  background-color:palegreen;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container div#pfa-zones-sub-rel.pfa-zones {
  grid-row:5/6;
  background-color:palegreen;/* burlywood, wheat, powderblue*/
}

section#pfa div#pfa-graph-container .pfa-part-zone {
  position:absolute;
  top:16px;
  font-size:8pt;
  background-color:steelblue;
  border-radius:12px;
  height:10px;
}
section#pfa div#pfa-graph-container div#pfa-zones-main .pfa-part-zone {
  font-weight:bold;
}
section#pfa div#pfa-graph-container div#pfa-zones-sub .pfa-part-zone {
  opacity:0.5;
}
section#pfa div#pfa-graph-container .pfa-part-zone span {
  position:absolute;
  top:-14px;
  left:5px;
  font-size:10.1pt;
}

/* Graphique relatif */
section#pfa div#pfa-graph-container .pfa-part-name-rel {
  position:absolute;
  grid-column:1/5;
  grid-row:6/7;
  background-color:palegreen;
}
section#pfa div#pfa-graph-container .pfa-part-name-rel.wrong {
  background-color:#FF4040;
  color:white;
  opacity:0.75;/* pour voir les overlaps*/
}

section#pfa div#pfa-graph-container .pfa-main-node-rel,
section#pfa div#pfa-graph-container .pfa-sub-node-rel
{
  position:absolute;
  grid-column:1/5;
  top:6px;
  font-size:8pt;
  border-radius:12px;
  height:10px;
}

section#pfa div#pfa-graph-container .pfa-main-node-rel {
  grid-row:4/5;
  background-color:burlywood;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container .pfa-sub-node-rel {
  grid-row:5/6;
  background-color:burlywood;/* burlywood, wheat, powderblue*/
}
section#pfa div#pfa-graph-container .pfa-main-node-rel.wrong,
section#pfa div#pfa-graph-container .pfa-sub-node-rel.wrong
{
  background-color:#FF4040;
  opacity:0.75;/* pour voir les overlaps*/
}
section#pfa div#pfa-graph-container .pfa-main-node-rel.ghost,
section#pfa div#pfa-graph-container .pfa-sub-node-rel.ghost
{
  background-color:#AFAFAF;
  opacity:0.22;
}
section#pfa div#pfa-graph-container .pfa-main-node-rel.ghost span,
section#pfa div#pfa-graph-container .pfa-sub-node-rel.ghost span
{
  font-weight:normal;
}

/* TODO Rationnaliser/simplifier en utilisant un .pfa-node-rel */
section#pfa div#pfa-graph-container .pfa-main-node-rel.wrong span,
section#pfa div#pfa-graph-container .pfa-sub-node-rel.wrong span
{
  color:red;
}
/* Pour le nom du noeud relatif */
section#pfa div#pfa-graph-container .pfa-main-node-rel span,
section#pfa div#pfa-graph-container .pfa-sub-node-rel span
{
  position:absolute;
  top:10px;
  left:5px;
  font-size:10.1pt;
  font-weight:bold;
}

/* ----------- VERSION TEXTUELLE ------------------- */

section#pfa div#pfa-container {
  border:2px solid black;

  display:grid;
  width:687px;
  grid-template-columns: 45px 640px;
  grid-template-rows: repeat(6, auto);
  /* justify-items:stretch; */
}

section#pfa div#pfa-container,
section#pfa div#pfa-container *
{
  font-size:1em;
}

/* Div contenant le nom des parties */
section#pfa div#pfa-container div.pfa-part-name {
  grid-column-start: 1;
  grid-column-end: 2;
  /* border: 1px dashed green; */
  background-color:#BEB1EC;
  display:flex;
  border-bottom:2px solid;
}
section#pfa div#pfa-container div.pfa-part-name span {
  display:block;
  width:12px;
  text-align:center;
  font-weight:bold;
  word-wrap:break-word;
  flex-shrink:1;
  margin:auto;
  font-family:Monospace;
  font-size:1.3em;
}

section#pfa div#pfa-container div.pfa-part-name.expo {
  grid-row: 1 / 6;
}
section#pfa div#pfa-container div.pfa-part-name.dev1 {
  grid-row: 6 / 9;
}
section#pfa div#pfa-container div.pfa-part-name.dev2 {
  grid-row: 9 / 12;
}
section#pfa div#pfa-container div.pfa-part-name.dnou {
  grid-row: 12 / 16;
}

/* Div contenant le nom des parties */
section#pfa div#pfa-container div.pfa-zone {
  grid-column-start: 2;
  grid-column-end:4;
  /* border:1px dashed blue; */
  /* Grid lui aussi */
  display:grid;
  grid-template-columns: 140px 500px;
  grid-template-rows: auto;
}

section#pfa div#pfa-container div.pfa-zone div.pfa-zone-name {
  grid-column-start: 1;
  /* background-color:#AAAAFF; */
  font-family: Arial;
  font-size:0.8em;
  text-align:right;
  padding:0.2em 0.5em;
  border-left:1px solid;
  min-height:32px;

}
section#pfa div#pfa-container div.pfa-zone > div.pfa-zone-desc {
  grid-column-start: 2;
  /* background-color:#FFAAAA; */
  padding:0.2em 0.5em;
  font-family:Monospace;
  font-size:1.15em;
  border-left:1px solid;
}

section#pfa div#pfa-container div.pfa-zone {
  border-bottom:1px solid;
}
section#pfa div#pfa-container div.pfa-zone.pivot1,
section#pfa div#pfa-container div.pfa-zone.cledev,
section#pfa div#pfa-container div.pfa-zone.pivot2
{
  border-bottom:2px solid;
}

section#pfa div#pfa-container div.pfa-zone.incDec,
section#pfa div#pfa-container div.pfa-zone.climax
{
  background-color:#FFBBBB;
}
section#pfa div#pfa-container div.pfa-zone.pivot1,
section#pfa div#pfa-container div.pfa-zone.pivot2
{
  background-color:#FFAAFF;
}
section#pfa div#pfa-container div.pfa-zone.cledev
{
  background-color:#AAFFAA;
}

/* --------------------------------------------------------------------- */
/* --- GRAPHIQUE DRAMATIQUE --- */

div.graphic-drama {
  border:1px solid #BBBBBB;
  position:relative;
}
div.graphic-drama div.GDtr {
  position:absolute;
  bottom:0;
  background-color:white;
  width:10px;
}
div.graphic-drama div.GDtr div.GDtrT {
  background-color:#EEEEEE;
}
div.graphic-drama div.GDtr div.GDtrB {
  background-color:red;
}


/* --------------------------------------------------------------------- */
/*  --- LES BRINS --- */
ul.brins {
  list-style:none;
  margin:0;
  padding:0;
}
ul.brins .brin {
  margin-bottom:2em;
}

ul.brins .brin .brin-title{
  display:block;
  font-weight:bold;
  font-size:1.05em;
}
ul.brins .brin .brin-infos-masked {
  margin-left:4em;
}
