div.pfas {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 2em;
  height: calc(100% - 2em);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  -webkit-user-select: none;
}
div.pfas section.pfa-absolute {
  grid-column: 1;
  grid-row: 1;
  background-color: blue;
  position: relative;
}
div.pfas section.pfa-relative {
  grid-column: 1;
  grid-row: 2;
  background-color: green;
  position: relative;
}

/* Pour toutes les parties, absolues comme relatives */
div.pfas div.part {
  font-size: 13pt;
  font-variant: small-caps;
  text-align: center;
  color: #777777;
  position: absolute;
  height: 100%;
}
div.pfas div.part {
  width: 25%;
  z-index: 2;
}
div.pfas div.part-expo:not(.missed):not(.misplaced):not(.close) {
  background-color: lightblue;
}
div.pfas div.part-dev1:not(.missed):not(.misplaced):not(.close) {
  background-color: skyblue;
}

div.pfas div.part-expo.missed,
div.pfas div.part-expo.misplaced,
div.pfas div.part-dev2.missed,
div.pfas div.part-dev2.misplaced,
{
  background-color: #EEDDDD;
}

div.pfas div.part-dev1.missed,
div.pfas div.part-dev1.misplaced,
div.pfas div.part-dnou.missed,
div.pfas div.part-dnou.misplaced
{
  background-color: #FFCCCC;
}
div.pfas div.part-expo.close,
div.pfas div.part-dev2.close
{
  background-color: #FFFCCC;
}
div.pfas div.part-dev1.close,
div.pfas div.part-dnou.close
{
  background-color: #EEEDDD;
}

div.pfas div.part-dev2:not(.missed):not(.misplaced):not(.close) {
  background-color: paleturquoise;
}
div.pfas div.part-dnou:not(.missed):not(.misplaced):not(.close) {
  background-color: lightblue;
}
div.pfas section.pfa-absolute div.part-expo {
  left: 0;
}
div.pfas section.pfa-absolute div.part-dev1 {
  left: 25%;
}
div.pfas section.pfa-absolute div.part-dev2 {
  left: 50%;
}
div.pfas section.pfa-absolute div.part-dnou {
  left: 75%;
}

div.pfas div.div-pfa-zones {
  position: absolute;
}
div.pfas div.pfa-1-div-zones-Abs-top {
  top: 30px;
}
div.pfas div.pfa-1-div-zones-Abs-bottom {
  top: 60px;
}
div.pfas div.div-pfa-zones > span {
  position: absolute;
  font-size: 9.6pt;
  text-align: center;
  color: white;
  z-index: 10;
}

div.pfas section.pfa-relative span.pfa-part-zone span.name {
  /*
    Dans le paradigme relatif, où les spans peuvent être
    plus court, on ne permet pas l'enroulement.
  */
  white-space: nowrap;
}

div.pfas div.pfa-1-div-zones-Rel-top {
  top: 30px;
}
div.pfas div.pfa-1-div-zones-Rel-bottom {
  top: 60px;
}

div.pfas div.div-pfa-zones > span:not(.missed):not(.misplaced):not(.close)
{
  background-color: darkgreen;
  border: 1px solid blue;
}

/* Une zone définie, mal placée mais proche */
div.pfas .close {
  background-color: palegreen;
  border: 1px solid red;
}

/* Une zone définie, mais mal placée */
div.pfas .misplaced {
  background-color: orange;
  border: 1px solid red;
}
/* Une zone qui manque, qui n'est pas définie */
div.pfas .missed {
  background-color: #D00;
  border: 1px solid orange;
}
