// Généralités

input[type="text"], input[type="password"], textarea
  &:focus,
    outline: none

textarea
  resize: none

img.update, img.open
  width: 20px
  margin-left: 8px
  vertical-align: middle

input[type="text"]
  &[readonly="readonly"]
    opacity: 0.5
    font-style: italic

  &.short
    width: 40px
    height: 18px
    font-size: 15.1pt

// ---------------------------------------------------------------------
//  MENUS

select
  &:hover
    cursor: ns-resize

// La fenêtre contenant le formulaire d'event

// Tous les champs contenant des erreurs
form
  .error
    background-color: #FFCCCC

  // Bouton pour actualiser quelque chose
  button.update
    all: unset

    img
      width: 20px
